.xpopover {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    background-color: white;
    border: none;
    /*border-left: 2px lightblue solid;
    border-right: 2px lightblue solid;*/
    border-bottom: 2px lightblue solid;
}
.xselected{
    background-color: lightgray;
    font-weight: bold;
}